.HomeMain {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 20px;
  background: #F8F9FD;
  border-radius: 40px;
  padding: 15px 20px;
  color: #667eea;
  max-width: 600px;
  min-height: 370px;
  margin: 0 auto;
  width: 90%; 
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  border: 5px solid rgb(255, 255, 255);
 
}

.HeaderMain {
  font-weight: 900;
  display: block;
  text-align: center;
  font-size: 30px;
  color: rgb(16, 137, 211);

}
body{
    background: linear-gradient(135deg, #8097ff 0%, #be7fff 100%);
    background-size:cover;

    display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;
  min-height: 100vh; 
}

.textarea {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  resize: vertical;
  min-height: 200px;
  display: block;
  border-color: #92a2cc ;
  border-radius: 20px;
  border-width: 2px;
  padding: 8px;

}

.textarea::placeholder {
    opacity: 0.3;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.SubmitButton{
  display: block;
  width: 50%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow:  rgba(255, 255, 255, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;

}
.SubmitButton:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.SubmitButton:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}






body.dark-mode {
  background: linear-gradient(135deg, #3a4575 0%, #5b3f79 100%) !important;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;
  min-height: 100vh; 
}

#themeToggle {
  width: 56px;                
  height: 40px; 
  display:flex !important;               
}



#themeToggle {
  display: flex !important;
}

body.dark-mode .SubmitButton{
    display: block;
  width: 50%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 64, 94) 0%, rgb(52, 88, 93) 100%) !important;
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: #ffffff 0px 10px 10px -5px;
  border: none;
  transition: all 0.2s ease-in-out;
}

body.dark-mode .HomeMain {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 20px;
  background: #343536;
  border-radius: 40px;
  padding: 15px 20px;
  color: #ffffff;
  max-width: 600px;
  min-height: 370px;
  margin: 0 auto;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.878) 0px 30px 30px -20px;
    border: 5px solid #343536;
}
body.dark-mode .HeaderMain{
  font-weight: 900;
  display: block;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

body.dark-mode .textarea {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  resize: vertical;
  min-height: 200px;
  display: block;
  border-color: #f5f5f5 ;
  border-radius: 20px;
  border-width: 2px;
  padding: 8px;
  background-color: #343536;
    box-shadow: #8d8d8d 0px 10px 10px -5px;

}

























.AboutUsMain{
    margin-top: 70px;
    padding: 0 15px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: 400;


}

.AboutUsFirstHeader1{
    font-weight: bold;
    
}

.AboutUsFirstHeader4{
    font-weight: 600;
}

.AboutUsListSpan{
    font-weight: bolder;
}

.AboutUsTeamMembers{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside; /* This brings dots inside */

}
.AboutUsTeamMembers li{
    text-align: center;
    width: fit-content; /* Makes background fit content */
    padding-right: 40px;
}




body.dark-mode .AboutUsMain{
    margin-top: 70px;
    padding: 0 15px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: 400;


}











/* From Uiverse.io by Smit-Prajapati */ 
.container {
  max-width: 600px;
  background: #F8F9FD;

  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 0 auto;
  width: 90%;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.form {
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}



.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}













body.dark-mode .container {
  max-width: 600px;
  background-color: #343536;
  border-radius: 40px;
  padding: 25px 35px;
  box-shadow: rgba(0, 0, 0, 0.878) 0px 30px 30px -20px;
  margin: 0 auto;
  border-width: 0;
  width: 90%;
}

body.dark-mode .heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(255, 255, 255);

}

body.dark-mode .form {
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

body.dark-mode .form .input {
  width: 100%;
  background: rgb(73, 73, 73);
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #8d8d8d 0px 10px 10px -5px;
  border: 1px solid rgb(255, 255, 255);
  color: white;

}



body.dark-mode .form .input::placeholder {
  color: rgb(255, 255, 255);
}

body.dark-mode .form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

body.dark-mode .form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

body.dark-mode .form .forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

body.dark-mode .form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 64, 94) 0%, rgb(52, 88, 93) 100%) !important;
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

body.dark-mode .form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

body.dark-mode .form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}
